snippet mqmax "Media query for max-width" b
@media only screen and (max-width: $1) {
  $0
}
endsnippet

snippet mqmin "Media query for min-width" b
@media only screen and (min-width: $1) {
  $0
}
endsnippet
